<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand " routerLink="/dashboard">ConChris Web Banking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a *ngIf="!this.authentication.isAuthenticated()" class="nav-item nav-link" routerLinkActive="active"
                                                        routerLink="/login">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
         Login
        <span class="sr-only">(current)</span>
      </a>

        <div *ngIf="this.authentication.isAuthenticated(); then logoutTemplate"></div>
        <ng-template #logoutTemplate>
          <a href="" routerLink="/profile" routerLinkActive="active" class="nav-item nav-link">User is: {{currentUser}}</a>
          <a class="nav-item nav-link" routerLink="/help" routerLinkActive="active">
            <i class="fa fa-question-circle"></i>
            Help
          </a>
          <a class="nav-item nav-link logout-link" (click)="logout()">
            <i class="fa fa-power-off"></i>
            Logout
            <span class="sr-only">(current)</span>
          </a>
        </ng-template>
    </div>
  </div>
</nav>
