.greeting {
  margin-top: 2em;
}

.transactions {
  margin-top: 4em;
}

.dashboard-navigation {
  margin: 20px;
}

span.menu-item {
  display: block;
}

.dashboard-menu-boxes .row {
  margin-bottom: 15px;
}

.dashboard-ripple-container {
  font-size: larger;
  cursor: pointer;
  text-align: center;

  width: 150px;
  height: 150px;
  line-height: 150px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
