<div class="profile-header row">
  <div class="col-sm-10"><h2>{{currentUser}}</h2></div>
</div>

<div class="profile-details row">
  <div class="col-sm-3"><!-- Image Column -->

    <div class="text-center">
      <img src="assets/avatars/{{profile.photo || 'default.jpg'}}" class="avatar img-circle img-thumbnail" alt="avatar">
    </div>
    <br>

  </div>
  <div class="col-sm-9">
    <h3>Details</h3>

    <div class="tab-pane active" id="home">
      <hr>
      <form class="form" [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)">

        <div class="form-row">
          <div class="form-group col-sm-6">
            <label><h4>First name</h4></label>
            <input type="text" class="form-control" formControlName="firstName" placeholder="first name"
                   title="enter your first name if any.">
            <div *ngIf="!profileForm.controls['firstName'].valid">
                    <span class="error" *ngIf="profileForm.controls['firstName'].hasError('required') ">
                       First name is required
                    </span>
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label><h4>Last name</h4></label>
            <input type="text" class="form-control" formControlName="lastName" placeholder="last name"
                   title="enter your last name if any.">
            <div *ngIf="!profileForm.controls['lastName'].valid">
                    <span class="error" *ngIf="profileForm.controls['lastName'].hasError('required') ">
                       Last name is required
                    </span>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-6">
            <label><h4>Phone</h4></label>
            <input type="text" class="form-control" formControlName="phone" placeholder="enter phone"
                   title="enter your phone number if any.">
            <div *ngIf="!profileForm.controls['phone'].valid">
                    <span class="error" *ngIf="profileForm.controls['phone'].hasError('required') ">
                       Phone is required
                    </span>
            </div>
          </div>

          <div class="form-group col-sm-6">
            <label><h4>Mobile</h4></label>
            <input type="text" class="form-control" formControlName="mobile" placeholder="enter mobile number"
                   title="enter your mobile number if any.">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-6">
            <label><h4>Email</h4></label>
            <input type="email" class="form-control" formControlName="email" placeholder="you@email.com"
                   title="enter your email." readonly>
            <div *ngIf="!profileForm.controls['email'].valid">
                    <span class="error" *ngIf="profileForm.controls['email'].hasError('required') ">
                       Email is required
                    </span>
            </div>

          </div>
          <div class="form-group col-sm-6">
            <label><h4>Username</h4></label>
            <input type="text" class="form-control" formControlName="userName" readonly>
          </div>
        </div>

        <div class="form-group">
          <label><h4>Address</h4></label>
          <input type="email" class="form-control" formControlName="address" placeholder="somewhere"
                 title="enter a location">
        </div>
        <div class="form-group">
          <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">Save</button>
        </div>
      </form>
      <hr>

    </div><!--/tab-pane-->
    <div>Form Status: {{profileForm.status}}</div>

  </div><!--/col-9-->
</div>
