.login {
  margin-top: 3em;
}
mat-form-field{
  width: 20em;
}

mat-card-header {
  margin: 0 auto;
  width: 50%;
}

.card-wrapper form {
  margin-left: 20px;
}

mat-card-actions button {
  width: 100%;
}

.fa-sign-in {
  margin-bottom: 4px;
}
